*.class
#Exceptions
!/Red/lib/*.jar
!/Installer/Installer.iss
!/Installer/license.txt

# Package Files #
*.jar
*.war
*.ear
*.bak
*~
.DS_Store
/Red/nbproject/private/
/Red/dist/
/Red/build/

/Installer/

/EnDec/nbproject/private/
/EnDec/build/
/EnDec/dist/