/*
 * Empty Stylesheet file.
 */
.root {
    -fx-font-size: 12pt;
    -fx-font-family: "Segoe UI";

}
.mainFxmlClass {
    /*-fx-background-color: #004400;*/
}



.text-area,.text-area:focused {
    -fx-background-color: transparent, transparent, -fx-control-inner-background;
    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 3, 2, 2;
}

.menu:hover, .menu:selected, .menu:pressed {
    -fx-background-color: linear-gradient(#ff5400,#800000);
}

.login-label {
    -fx-font: bold 14pt "Segoe UI";
}
.info-label {
    -fx-text-fill: #006dcc;
    -fx-font-weight: bold;
}
.error-label{
    -fx-text-fill: #be1d00;
    -fx-font-weight: bold;
}
.success-label
{
    -fx-text-fill: #4CBB17;
    -fx-font-weight: bold;
}
.menubar {
    -fx-background-color: linear-gradient(#ff5400, #be1d00);
    -fx-font-weight: bold;
    -fx-text-fill: white;
}
.menu {
    -fx-background-color: linear-gradient(#ff5400, #be1d00);
    -fx-font-weight: bold;
    -fx-text-fill: white;
}
.button, .small-button {
    -fx-background-color: linear-gradient(#ff5400, #be1d00);
    -fx-background-radius: 10;
    -fx-background-insets: 0;
    -fx-font-weight: bold;
    -fx-text-fill: white;
}

.button:hover, .small-button:hover {
    -fx-background-color: linear-gradient(#be1d00,#ff5400);
    -fx-background-radius: 10;
    -fx-background-insets: 0;
    -fx-font-weight: bold;
    -fx-text-fill: white;
}
.button:pressed, .small-button:pressed {
    -fx-background-color: linear-gradient(#be1d00,#ff5400);
    -fx-background-radius: 10;
    -fx-background-insets: 0;
    -fx-font-weight: bold;
    -fx-text-fill: #606060;
}
.small-button:focused {
    -fx-border-color: #1e90ff;
    -fx-border-width: 1;
    -fx-border-radius: 10;
}

.button:focused {
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
    -fx-border-color: #1e90ff;
    -fx-border-width: 2;
    -fx-border-radius: 10;
}

.button:active {
    -fx-background-color: linear-gradient(rosybrown,red);
    -fx-background-radius: 10;
    -fx-background-insets: 0;
    -fx-font-weight: bold;
    -fx-text-fill: grey;
}
.accordion .titled-pane > .title{
    -fx-background-color: transparent;
}

.accordion .titled-pane:focused{
    -fx-text-fill: black;
}

.accordion .titled-pane:hover{
    -fx-text-fill: grey;
}

.accordion .titled-pane:focused > .title > .arrow-button .arrow {
    -fx-background-color: black;
}

.timeTableView-label{
    -fx-background-color: #006DCC;
}

.timeTableView-overlap-label{
    -fx-background-color: #A94A48;
}
.image-hbox{
    -fx-background-image: url("../images/strip.png");
    -fx-background-repeat: repeat-x;
    -fx-background-position: center center;
}