/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {
    /*-fx-background-color: #004400;*/
}

.menubar {
    -fx-background-color: linear-gradient(#ff5400, #be1d00);
    -fx-font-weight: bold;
    -fx-text-fill: white;
}
.menu {
    -fx-background-color: linear-gradient(#ff5400, #be1d00);
    -fx-font-weight: bold;
    -fx-text-fill: white;
}
.button {
    -fx-background-color: linear-gradient(#ff5400, #be1d00);
    -fx-background-radius: 10;
    -fx-background-insets: 0;
    -fx-font-weight: bold;
    -fx-text-fill: white;
}

.button:hover {
   -fx-background-color: linear-gradient(#be1d00,#ff5400);
   -fx-background-radius: 10;
   -fx-background-insets: 0;
   -fx-font-weight: bold;
   -fx-scale-x: 1.05;
   -fx-scale-y: 1.05;
   -fx-text-fill: white;
}

.button:focused {
   -fx-scale-x: 1.05;
   -fx-scale-y: 1.05;
   -fx-border-color: #1e90ff;
   -fx-border-width: 2;
   -fx-border-radius: 10;
}
.button:active {
   -fx-background-color: linear-gradient(rosybrown,red);
   -fx-background-radius: 10;
   -fx-background-insets: 0;
   -fx-font-weight: bold;
   -fx-text-fill: grey;
}
